
#############################################################################
#############################################################################
# This file of shell patterns is used in "rsync --exclude-from=", and
#    also used to delete (excluded files) when pruning old backup snapshots.
#############################################################################
#############################################################################

# -----------------------------------------------------------------------
# GNU/Linux system directories: virtual filesystems and transient data. #
# -----------------------------------------------------------------------

/cdrom/*
/dev/*
/media/*
/mnt/*
/proc/*
/run/*
/snap/*
/sys/*

/tmp/*

# you can uncomment the following section if you're tight on backup drive space
#
# kernels come and go, and are large; don't uncomment if boot VM from snapshots
# /boot/System.map-*
# /boot/initrd.img-*
# /boot/vmlinuz-*
# /lib/firmware/*
# /lib/modules/*
#
# /usr/lib/jvm
# /usr/lib64/eclipse
# /usr/lib64/openoffice.org
# /usr/share/doc/texlive-latex-extra-doc
# /usr/share/gimp
# /usr/share/javadoc
# /usr/share/texmf-texlive
# /usr/src/kernels/*

# contains 1 MB of .ttf files that change daily
/usr/share/fonts/truetype/ttf-dejavu/*

# you could keep more or fewer, could be 1 MB each
/var/backups/dpkg.status.[3-9].*z*

/var/cache/*/*
/var/lib/apt/lists/*
/var/lib/mlocate/*
/var/lib/snapd/*

# from default /etc/updatedb.conf
/var/lib/schroot/*

# This is needed for small backup-drives or slow pruning.
# ... but save snapback, auth, and syslog files, for forensics/debugging.
# first, exclude the types of logs we don't want
/var/log/[^as]*
/var/log/journal/*
/var/log/s[^ny]*
#
# snapback logs to exclude; these match in bash when globstar is set
/var/log/snap*/**/cron.log*
/var/log/snap*/**/messages.log*
/var/log/snap*/**/.cache.sh*
/var/log/snap*/monitor/big-swapouts/today.txt*
# only backup non-snapback logs that are dated & compressed: small,don't change
# have *-???????? files if dateext' & 'delaycompress' in /etc/logrotate.conf
/var/log/a[^u]*
/var/log/au*[a-y]
/var/log/au*-????????
/var/log/sy*[a-y]
/var/log/sy*-????????
# If you're security-sensitive and comment-out the above for forensics,
# you should add 'dateext' and 'compress' and etc to /etc/logrotate.conf
# (see etc/logrotate.conf.sample for a way to keep months of old logs),
# then leave the following five records so the old rolled-logs get deleted.
/var/log/**/*.[0-9]
/var/log/**/*.[0-9].*[zZ]*
/var/log/**/*.[1-9][0-9].*[zZ]*
/var/log/**/*.[1-9][0-9][0-9].*[zZ]*

# only uncomment the next two if /var/lock and/or /var/run are *not* symlinks
# /var/lock/*
# /var/run/*

/var/snap/*
/var/staging/*
/var/swap/*
/var/tmp/*[Cc]ache*

# -------------------------------------------------------
# home-directory user stuff				#
# -------------------------------------------------------

# the files in here have 111 hard links, which causes link-failures with ext4
/home/*/libexec/git-core

# the following were built after scanning the output of:
#    cd ~ && find .??* -type f -print0 2>/dev/null |
#       xargs -0 -L 1 -I file cmp "file" /backup/XXX/latest$PWD/"file" |&
#       fgrep -v ': No such file or directory' |& less

# mostly application caches: these match in bash when globstar is set
# the first one may obviate the following chrome/firefox patterns
/home/*/.[^.]*/**/*[Cc]ache*
/home/*/snap/**/*[Cc]ache*/*
/home/*/snap/**/*.cache
/home/*/.conda/*
/home/*/.julia/*
/home/*/.torch/*
/home/*/.*/bundle/*
/home/*/tmp/*
/home/*/[Tt]rash/*
/home/**/Favicons

# https://superuser.com/questions/1587202/login-data-file-in-chrome-retrieve-logins-passwords-urls
# https://support.mozilla.org/en-US/kb/profiles-where-firefox-stores-user-data
# NOTE: uncomment these lines if you don't want to backup login passwords
# /home/*/.config/*chrom*/*/Login?Data
# /home/*/.mozilla/firefox/*.default-release/logins.json
# /home/*/.mozilla/firefox/*.default-release/key4.db

# you might want to comment-out these, websites store data on your workstation
/home/*/.config/*chrom*/*/IndexedDB/*
/home/*/.config/*chrom*/*/Local?Storage/*
/home/*/.mozilla/firefox/*.default-release/webappsstore.sqlite*

# chromium and Google Chrome files that can disappear, or are large or change
/home/*/.config/*chrom*/*/Bookmarks.bak
/home/*/.config/*chrom*/*/Cookies
/home/*/.config/*chrom*/*/Extensions/*
/home/*/.config/*chrom*/*/File?System/*
# GCM has been deprecated, replaced with FCM
/home/*/.config/*chrom*/*/[FG]CM?Store/*
# this can be GB, and changes constantly as you browse
/home/*/.config/*chrom*/*Cache/*
/home/*/.config/*chrom*/*/*Cache*/*
/home/*/.config/*chrom*/*/History*
/home/*/.config/*chrom*/*/Network*
/home/*/.config/*chrom*/*/Pepper?Data/Shockwave?Flash/WritableRoot
/home/*/.config/*chrom*/*/Service?Worker/Database/*
/home/*/.config/*chrom*/*/Service?Worker/*Cache*/*
/home/*/.config/*chrom*/*/Session?Storage/*
/home/*/.config/*chrom*/*/Storage/*
# large, holds passwords and credit card data
/home/*/.config/*chrom*/*/Sync?Data/*
/home/*/.config/*chrom*/*/Top?Sites
# transient and large
/home/*/.config/*chrom*/*/Web?Data
/home/*/.config/*chrom*/BrowserMetrics/*
/home/*/.config/*chrom*/CrashpadMetrics-*.pma
/home/*/.config/*chrom*/EVWhitelist/?/_platform_specific/*/ev_hashes_*
/home/*/.config/*chrom*/PepperFlash/*
/home/*/.config/*chrom*/Pepper?Data/Shockwave?Flash/WritableRoot
/home/*/.config/*chrom*/pnacl/*
/home/*/.config/*chrom*/Safe?Browsing*

/home/*/.config/dconf/user

# can be very large
/home/*/.config/copyq/copyq_tab_*==.dat

# mostly browser/mailer stuff
/home/*/.claws-mail/imapcache
/home/*/.gvfs
/home/*/.mozilla/seamonkey/*/ImapMail
/home/*/.mozilla/**/cache/*
# not sure if all these can be repopulated
/home/*/.shotwell

# big WINE files that can be repopulated
/home/*/.cxoffice/Microsoft?Office?20??/drive_?/MSOCache/*
/home/*/.cxoffice/Microsoft?Office?20??/drive_?/users/crossover/Local?Settings/Temporary?Internet?Files/*
/home/*/.cxoffice/Microsoft?Office?20??/drive_?/users/crossover/Local?Settings/Application?Data/Microsoft/*Outlook/outlook.ost
/home/*/.cxoffice/**/*.tmp

# cloud storage that can probably be repopulated
/home/*/Dropbox

# miscellaneous config
/home/*/.dbus/session-bus/*
# 19 MB, changes daily
/home/*/.local/share/zeitgeist/*

# personal R libraries
/home/*/R/x86_64-pc-linux-gnu-library/*
/home/*/R/library/*
/home/*/R/rlib/*
/home/*/*/R/x86_64-pc-linux-gnu-library/*
/home/*/*/R/library/*
/home/*/*/R/rlib/*

# miscellaneous files that don't need to be saved (on a non-Mac)
.DS_Store

# --------------------------------------------------------------------
# subdirectories that the 'snapshot' command backs up, can be *huge* #
# --------------------------------------------------------------------

# data-project workspaces (named by country-code names), skip 'snapshot' dirs
/home/**/[A-Z][A-Z]*/**/input/*
/home/**/[A-Z][A-Z]*/**/output/*
/home/**/[A-Z][A-Z]*/**/frozen/*

############################################
# Extra records could be added after this. #
############################################
