
#############################################################################
#############################################################################
# This file of shell patterns is used in "rsync --exclude-from=", and
#    also used to delete (excluded files) when pruning old backup snapshots.
#############################################################################
#############################################################################

#############################
# file for a big backup drive (e.g. don't mind storing workstation config data)
#############################

# -----------------------------------------------------------------------
# GNU/Linux system directories: virtual filesystems and transient data. #
# -----------------------------------------------------------------------

/cdrom/*
/dev/*
/media/*
/mnt/*
/proc/*
/run/*
/snap/*
/sys/*

/tmp/*

# contains 1 MB of .ttf files that change daily
/usr/share/fonts/truetype/ttf-dejavu/*

/var/cache/*/*
/var/lib/apt/lists/*
/var/lib/mlocate/*
/var/lib/snapd/*

# from default /etc/updatedb.conf
/var/lib/schroot/*

/var/snap/*
/var/staging/*
/var/swap/*
/var/tmp/*cache*

# -------------------------------------------------------
# home-directory user stuff				#
# -------------------------------------------------------

# the files in here have 111 hard links, which causes link-failures with ext4
/home/*/libexec/git-core

# the following were built after scanning the output of:
#    cd ~ && find .??* -type f -print0 2>/dev/null |
#       xargs -0 -L 1 -I file cmp "file" /backup/XXX/latest$PWD/"file" |&
#       fgrep -v ': No such file or directory' |& less

# mostly application caches: these match in bash when globstar is set
/home/*/.[^.]*/**/*[Cc]ache*
/home/*/snap/**/*[Cc]ache*/*

# https://superuser.com/questions/1587202/login-data-file-in-chrome-retrieve-logins-passwords-urls
# https://support.mozilla.org/en-US/kb/profiles-where-firefox-stores-user-data
# NOTE: uncomment these lines if you don't want to backup login passwords
# /home/*/.config/*chrom*/*/Login?Data
# /home/*/.mozilla/firefox/*.default-release/logins.json
# /home/*/.mozilla/firefox/*.default-release/key4.db

# chromium and Google Chrome files that can disappear, or are large or change
/home/*/.config/*chrom*/*/Bookmarks.bak
/home/*/.config/*chrom*/*/Favicons
/home/*/.config/*chrom*/*/History*
/home/*/.config/*chrom*/*/Network*

/home/*/.gvfs

# miscellaneous config
/home/*/.dbus/session-bus/*
# 19 MB, changes daily
/home/*/.local/share/zeitgeist/*

############################################
# Extra records could be added after this. #
############################################
