
#############################################################################
#############################################################################
# This file of shell patterns is used in "rsync --exclude-from=", and
#    also used to delete (excluded files) when pruning old backup snapshots.
#############################################################################
#############################################################################

# -----------------------------------------------------------------------
# GNU/Linux system directories: virtual filesystems and transient data. #
# -----------------------------------------------------------------------

/cdrom/*
/dev/*
/media/*
/mnt/*
/proc/*
/run/*
/snap/*
/sys/*

/tmp/*

# you can uncomment the following section if you're tight on backup drive space
#
# kernels come and go, and are large; don't uncomment if boot VM from snapshots
# /boot/System.map-*
# /boot/initrd.img-*
# /boot/vmlinuz-*
# /lib/firmware/*
# /lib/modules/*
#
# /usr/lib/jvm
# /usr/lib64/eclipse
# /usr/lib64/openoffice.org
# /usr/share/doc/texlive-latex-extra-doc
# /usr/share/gimp
# /usr/share/javadoc
# /usr/share/texmf-texlive
# /usr/src/kernels/*

# contains 1 MB of .ttf files that change daily
/usr/share/fonts/truetype/ttf-dejavu/*

# you could keep more or fewer, could be 1 MB each
/var/backups/dpkg.status.[3-9].gz

/var/cache/*/*
/var/lib/apt/lists/*
/var/lib/mlocate/*
/var/lib/snapd/*

# from default /etc/updatedb.conf
/var/lib/schroot/*

# This is needed for small backup-drives or slow pruning.
# ... but save snapback, auth, and syslog files, for forensics/debugging.
# first, exclude the types of logs we don't want
/var/log/[^as]*
/var/log/s[^ny]*
#
# snapback has many types of logs to exclude
/var/log/sn**/cron.log*
/var/log/sn**/messages.log*
/var/log/sn**/.cache.sh*
/var/log/sn*/monitor/big-swapouts/today.txt
# only backup non-snapback logs that are dated & compressed: small,don't change
# have *-???????? files if dateext' & 'delaycompress' in /etc/logrotate.conf
/var/log/a[^u]*
/var/log/au*[a-y]
/var/log/au*-????????
/var/log/sy*[a-y]
/var/log/sy*-????????
# If you're security-sensitive and comment-out the above for forensics,
# you should add 'dateext' and 'compress' and etc to /etc/logrotate.conf
# (see etc/logrotate.conf.sample for a way to keep months of old logs),
# then leave the following five records so the old rolled-logs get deleted.
/var/log/**.[0-9]
/var/log/**.[0-9].*[zZ]*
/var/log/**.[1-9][0-9].*[zZ]*
/var/log/**.[1-9][0-9][0-9].*[zZ]*
/var/log/journal/*

# only uncomment the next two if /var/lock and/or /var/run are *not* symlinks
# /var/lock/*
# /var/run/*

/var/snap/*
/var/staging/*
/var/swap/*
/var/tmp/*cache*

# -------------------------------------------------------
# home-directory user stuff				#
# -------------------------------------------------------

# mostly application caches
/home/*/.[Cc]ache/*
/home/*/.conda/*
/home/*/.torch/*
/home/*/.*/bundle/*
/home/*/tmp/*
/home/*/[Tt]rash/*
/home/**/*[cC]ache/*
/home/**/[cC]ache*/*
/home/**/Favicons

# Google Chrome files that can disappear, or are very large and change often
/home/*/.config/google-chrome/Default/Bookmarks.bak
/home/*/.config/google-chrome/Default/Cookies
/home/*/.config/google-chrome/Default/Extensions/*
/home/*/.config/google-chrome/Default/File?System/*
# GCM has been deprecated, replaced with FCM
/home/*/.config/google-chrome/Default/[FG]CM?Store/*
# this can be GB, and changes constantly as you browse
/home/*/.config/google-chrome/Default/GPUCache/*
/home/*/.config/google-chrome/Default/History
/home/*/.config/google-chrome/Default/IndexedDB/*
/home/*/.config/google-chrome/Default/Local?Storage/*
/home/*/.config/google-chrome/Default/Network?Action?Predictor
/home/*/.config/google-chrome/Default/Pepper?Data/Shockwave?Flash/WritableRoot
/home/*/.config/google-chrome/Default/Service?Worker/Database/*
/home/*/.config/google-chrome/Default/Session?Storage/*
/home/*/.config/google-chrome/Default/Storage/*
# large, holds passwords and credit card data
/home/*/.config/google-chrome/Default/Sync?Data/*
/home/*/.config/google-chrome/Default/Top?Sites
# transient and large
/home/*/.config/google-chrome/Default/Web?Data
/home/*/.config/google-chrome/EVWhitelist/?/_platform_specific/*/ev_hashes_*
/home/*/.config/google-chrome/PepperFlash/*
/home/*/.config/google-chrome/Pepper?Data/Shockwave?Flash/WritableRoot
/home/*/.config/google-chrome/pnacl/*
/home/*/.config/google-chrome/Safe?Browsing*
/home/*/.config/google-chrome/*ShaderCache/*
#
# chromium files that can disappear, or are very large and change often
/home/*/.config/chromium/Profile ?/Extensions/*
/home/*/.config/chromium/Profile ?/Local Storage/*
/home/*/.config/chromium/Profile ?/IndexedDB/*
/home/*/.config/chromium/Profile ?/Session Storage/*
/home/*/.config/chromium/Profile ?/Sync?Data/*
/home/*/.config/chromium/Profile ?/Top?Sites/*

# mostly browser/mailer stuff
/home/*/.claws-mail/imapcache
/home/*/.gvfs
/home/*/.mozilla/seamonkey/*/ImapMail
# not sure if all these can be repopulated
/home/*/.mozilla/seamonkey/*/*.sqlite*
/home/*/.shotwell

# big WINE files that can be repopulated
/home/*/.cxoffice/Microsoft?Office?20??/drive_?/MSOCache/*
/home/*/.cxoffice/Microsoft?Office?20??/drive_?/users/crossover/Local?Settings/Temporary?Internet?Files/*
/home/*/.cxoffice/Microsoft?Office?20??/drive_?/users/crossover/Local?Settings/Application?Data/Microsoft/*Outlook/outlook.ost
/home/*/.cxoffice/**/*.tmp

# cloud storage that can probably be repopulated
/home/*/Dropbox

# miscellaneous config
/home/*/.dbus/session-bus/*
# 19 MB, changes daily
/home/*/.local/share/zeitgeist/*

# personal R libraries
/home/*/R/x86_64-pc-linux-gnu-library/*
/home/*/R/library/*
/home/*/R/rlib/*
/home/*/*/R/x86_64-pc-linux-gnu-library/*
/home/*/*/R/library/*
/home/*/*/R/rlib/*

# miscellaneous files that don't need to be saved (on a non-Mac)
.DS_Store

# --------------------------------------------------------------------
# subdirectories that the 'snapshot' command backs up, can be *huge* #
# --------------------------------------------------------------------

# data-project workspaces (named by country-code names), skip 'snapshot' dirs
/home/**/[A-Z][A-Z]**/input/*
/home/**/[A-Z][A-Z]**/output/*
/home/**/[A-Z][A-Z]**/frozen/*

############################################
# Extra records could be added after this. #
############################################
